.admin-dashboard {
    padding: 2rem;
    background-color: #f4f4f4;
  }
  
  .dashboard-container {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    width: 23%;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 2rem;
  }
  
  h2 {
    margin-bottom: 1rem;
  }
  .admin-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: rgba(255, 0, 0, 0.7); /* Adjust color as needed */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: fadeIn 1s ease-in-out;
    z-index: 10; /* Ensure it is above other elements */
  }
    